################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/marketApp/.vs/marketApp/FileContentIndex/fe412b1b-8aa7-461e-aa4b-794e0d306c60.vsidx
